<h1>KATRINA KLAWITER</h1>

<div class='col-12'>
	<div class="hero">
		<br />
		<br />
		<br />
		<br />
		<div class="column col-12 col-sm">
			<div class="feature col-12 col-sm">
				<h2>
			   		<%= link_to 'WEB DESIGN', coding_page_path %>
			   	</h2>
			</div>
			<br />
			<div class="feature col-12 col-sm">
				<h2>
			   		<%= link_to 'THEATRE', 'theatre_page_path' %>
			   	</h2>
			</div>
			<br />
			<div class="feature col-12 col-sm">
				<h2>
			   		<%= link_to 'BLOG', 'blog_page_path'%>
			   	</h2>
			</div>
			<br />
			<div class="feature col-12 col-sm">
				<h2>
			   		<%= link_to 'LIFE', 'life_page_path' %>
			   	</h2>
			</div>
		</div>
	</div>
</div>