<h1>KATRINA KLAWITER</h1>

<div class='col-12'>
	<div class="hero">
		<br />
		<br />
		<br />
		<br />
		<div class="column col-12 col-sm">
			<div class="feature col-12 col-sm">
				<h2>
			   		<%= link_to 'WEB DESIGN', '#', class: 'h1' %>
			   	</h2>
			</div>
			<br />
			<div class="feature col-12 col-sm">
				<h2>
			   		<%= link_to 'THEATRE', '#', class: 'h1' %>
			   	</h2>
			</div>
			<br />
			<div class="feature col-12 col-sm">
				<h2>
			   		<%= link_to 'BLOG', '#', class: 'h1' %>
			   	</h2>
			</div>
			<br />
			<div class="feature col-12 col-sm">
				<h2>
			   		<%= link_to 'LIFE', '#', class: 'h1' %>
			   	</h2>
			</div>
		</div>
	</div>
</div>