<div class='hero'>
	<ol class="column col-12 col-sm">
		<h2 class='button'>
			<%= link_to 'BLOG', blogpages_path %>
		</h2>
		<br />
		<h2 class='button'>
			<%= link_to 'PHOTOS', lifepages_path %>
		</h2>
		<br />
		<h2 class='button'>
			<%= link_to 'THEATRE', theatrepages_path %>
		</h2>
		<br />
		<h2 class='button'>
			<%= link_to 'CODING', codingpages_path %>
		</h2>
		<br />
	</ol>
</div>