<div class='hero'>
	<br />
	<h2 class='button'>
		<%= link_to 'BLOG', blogpages_path %>
	</h2>
	<br />
	<h2 class='button'>
		<%= link_to 'PHOTOS', lifepages_path %>
	</h2>
	<br />
	<h2 class='button'>
		<%= link_to 'WEB DESIGN', codingpages_path %>
	</h2>
	<br />
	<h2 class='button'>
		<%= link_to 'PERFORMANCE', theatrepages_path %>
	</h2>
	<br />
</div>