<hr>
<h2> PERFORMANCE </h2>
	<div class="row feature2 text-center">
		<div class="feature3 col-12 col-sm">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/RDZiOctdobg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<br />
		<div class="feature3 col-12 col-sm">

		</div>
	</div>
	<div class="row feature2 text-center">
		<div class="feature3 col-12 col-sm">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/RPjYoOwIoMk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<br />
		<div class="feature3 col-12 col-sm">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/ArFYFS94BHw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
	<div class="row feature2 text-center">
		<div class="feature3 col-12 col-sm">

		</div>
		<br />
		<div class="feature3 col-12 col-sm">

		</div>
	</div>
	<hr>
	<h2>
		<%= link_to 'Training', '#' %> | <%= link_to 'Headshots', '#' %> | <%= link_to 'Contact', new_contact_path %>
	</h2>
</div>