<hr>
<h2> PERFORMANCE </h2>
<h3>
	<%= link_to 'Training', trainingpages_path %> | <%= link_to 'Productions', productionpages_path %> | <%= link_to 'Photos', '#' %> | <%= link_to 'Contact', new_contact_path %>
</h3>
<hr>
<div class="row feature2 text-center">
	<div class="feature3 col-12 col-sm">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/RDZiOctdobg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<br />
	<div class="feature3 col-12 col-sm">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/4XZvaZ6Qqd8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</div>
<div class="row feature2 text-center">
	<div class="feature3 col-12 col-sm">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/G4ekYPb6toc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<br />
	<div class="feature3 col-12 col-sm">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/x1lBwjCjpBk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</div>
<div class="row feature2 text-center">
	<div class="feature3 col-12 col-sm">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/EKRNKEBrMJI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<br />
	<div class="feature3 col-12 col-sm">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/WCguJV1rGjs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</div>
<div class="row feature2 text-center">
	<div class="feature3 col-12 col-sm">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/RPjYoOwIoMk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<br />
	<div class="feature3 col-12 col-sm">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/ArFYFS94BHw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</div>
<div class="row feature2 text-center">
	<div class="feature3 col-12 col-sm">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/ng3ZGSq2UvE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<br />
	<div class="feature3 col-12 col-sm">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/3sGF3Ta5Eqs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</div>
<div class="row feature2 text-center">
	<div class="feature3 col-12 col-sm">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/4G41muRlx9g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<br />
	<div class="feature3 col-12 col-sm">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/zqgyrOIlp_U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</div>
<div class="row feature2 text-center">
	<div class="feature3 col-12 col-sm">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/9Ab_gQCK0aU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<br />
	<div class="feature3 col-12 col-sm">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/ec1P1_BSpWs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</div>