<hr>
<h2> CONTACT ME! </h2>
<hr>
<div class="row feature2 text-center">
	<div class="educationfeature col-12 col-sm">
		<br />
		<h3> EMAIL </h3>
		<a> katrinaklawiter@gmail.com </a>
		<br />
	</div>
	<br />
	<div class="educationfeature col-12 col-sm">
		<br />
		<h3> YOUTUBE </h3>
		<a href="https://www.youtube.com/channel/UC88VkujlgWqpt9VJwP9qKHw/"> Click Here</a>
		<br />
	</div>
</div>
<br />
<div class="row feature2 text-center">
	<div class="educationfeature col-12 col-sm">
		<br />
		<h3> INSTAGRAM </h3>
		<a> @katrinaklawiter </a>
		<br />
	</div>
	<br />
	<div class="educationfeature col-12 col-sm">
		<br />
		<h3> LINKEDIN </h3>
		<a href="https://www.linkedin.com/in/katrina-klawiter-ab756349/"> Click Here</a>
		<br />
	</div>
</div>
<br />
<div class="row feature2 text-center">
	<div class="educationfeature col-12 col-sm">
		<br />
		<h3> GITHUB </h3>
		<a href="https://github.com/KKlawiter"> Click Here</a>
		<br />
	</div>
	<br />
	<div class="educationfeature col-12 col-sm">
		<br />
		<h3> BACKSTAGE </h3>
		<a href="https://www.backstage.com/u/katrina-klawiter/"> Click Here</a>
		<br />
	</div>
</div>
