<hr>
<h2> CONTACT </h2>
<hr>
	<h3> EMAIL </h3>
	<h4> katrinaklawiter@gmail.com </h4>
<hr width="20%">
	<h3> INSTAGRAM </h4>
	<h4> @katrinaklawiter </h4>
<hr width="20%">
	<h3><a href="https://www.youtube.com/channel/UC88VkujlgWqpt9VJwP9qKHw/" align="center"> YOUTUBE </a></h3>
<hr width="20%">
	<h3><a href="https://www.linkedin.com/in/katrina-klawiter-ab756349/"> LINKEDIN</a></h3>
<hr width="20%">
	<h3><a href="https://github.com/KKlawiter"> GITHUB</a></h3>
<hr width="20%">
	<h3><a href="https://www.backstage.com/u/katrina-klawiter/"> BACKSTAGE</a></h3>
<hr width="20%">

