<h2> THIS PAGE IS CURRENTLY UNDER DEVELOPMENT </h2>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <p> 
        bloggggg postttt
        
      </p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>About Me</h2>
      <img src="../images/blog.jpg">
      <p> 
        Hello! My name is Katrina and I am a performer, environmental scientist, avid traveler, web developer and more! Check here for new posts from me sharing anything and everything I feel is important!
      </p>
    </div>
    <div class="card">
      <h5>Need something to listen to?</h5>
      <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1013757616%3Fsecret_token%3Ds-bnBZv&color=%237b5c47&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    </div>
    <div class="card">
      <h3>Follow Me</h3>
      <iframe width="100%" height="100" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/112221999&color=%237b5c47&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    </div>
  </div>
</div>