
<div class='col-12'>
	<div class="coding">
		<h1> WEB DEVELOPMENT </h1>
		<div class="column col-12 col-sm">
			<div class="webdevelopmentfeature col-12 col-sm">
				<h2> MY APP PORTFOLIO </h2>
				<div class="row feature2 text-center">
					<div class="feature3 col-12 col-sm">
						<a href="https://nomnomster-katrina-klawiter.herokuapp.com/">NOMSTER</a>
						<body> </body>
					</div>
					<br />
					<div class="feature3 col-12 col-sm">
						<a href="https://flixxter-katrina-klawiter.herokuapp.com/">FLIXXTER</a>
						<body> </body>
					</div>
				</div>
				<div class="row feature2 text-center">
					<div class="feature3 col-12 col-sm">
						<a href="https://quizster2-katrina-klawiter.herokuapp.com/">SONGSTER</a>
						<body> </body>
					</div>
					<br />
					<div class="feature3 col-12 col-sm">
						<a href="https://splurty-katrina-klawiter.herokuapp.com/">SPLURTY</a>
						<body> </body>
					</div>
				</div>
				<div class="row feature2 text-center">
					<div class="feature3 col-12 col-sm">
						<a href="https://todoster-katrina-klawiter.herokuapp.com/">TODOSTER</a>
						<body> </body>
					</div>
					<br />
					<div class="feature3 col-12 col-sm">
						<a href="https://nomnomster-katrina-klawiter.herokuapp.com/">NOMSTER</a>
						<body> </body>
					</div>
				</div>
				<h2>
			   		<%= link_to 'EDUCATION', educationpages_path %> | <%= link_to 'WORK', '#' %> | <%= link_to 'CONTACT', '#' %>
			   	</h2>
			</div>
		</div>
	</div>
</div>




