
<div class='col-12'>
	<div class="coding">
		<h1> WEB DEVELOPMENT </h1>
		<hr />
		<div class="column col-12 col-sm">
			<div class="webdevelopmentfeature col-12 col-sm">
				<h2> MY APP PORTFOLIO </h2>
				<div class="row feature2 text-center">
					<div class="feature3 col-12 col-sm">
						<a class='bigbutton' href="https://nomnomster-katrina-klawiter.herokuapp.com/">NOMSTER</a>
						<br />
						<body> Yelp clone integrating Google API's and User interface </body>
					</div>
					<br />
					<div class="feature3 col-12 col-sm">
						<a class='bigbutton' href="https://flixxter-katrina-klawiter.herokuapp.com/">FLIXXTER</a>
						<br />
						<body> A video streaming platform with Stripe Payment and Amason AWS services </body>
					</div>
				</div>
				<div class="row feature2 text-center">
					<div class="feature3 col-12 col-sm">
						<a class='bigbutton' href="#">GRAMMABLE</a>
						<br />
						<body> An Instagram clone </body>
					</div>
					<br />
					<div class="feature3 col-12 col-sm">
						<a class='bigbutton' href="https://splurty-katrina-klawiter.herokuapp.com/">SPLURTY</a>
						<br />
						<body> A quote generator </body>
					</div>
				</div>
				<div class="row feature2 text-center">
					<div class="feature3 col-12 col-sm">
						<a class='bigbutton' href="https://todoster-katrina-klawiter.herokuapp.com/">TODOSTER</a>
						<br />
						<body> Interactive to do list </body>
					</div>
					<br />
					<div class="feature3 col-12 col-sm">
						<a class='bigbutton' href="https://quizster2-katrina-klawiter.herokuapp.com/">SONGSTER</a>
						<br />
						<body> A song generator </body>
					</div>
				</div>
				<h2>
			   		<%= link_to 'EDUCATION', educationpages_path %> | <%= link_to 'WORK', '#' %> | <%= link_to 'CONTACT', new_contact_path %>
			   	</h2>
			</div>
		</div>
	</div>
</div>




