<hr>
<h2> WEB DESIGN </h2>
<h3>
	<%= link_to 'Education', educationpages_path %> | <%= link_to 'Work', workpages_path %> | <%= link_to 'Contact', contactpages_path %>
</h3>
<hr>
<div class="row feature2 text-center">
	<div class="feature4 col-12 col-sm">
		<h3><br /><a class='bigbutton' href="https://nomnomster-katrina-klawiter.herokuapp.com/">NOMSTER</a></h3>
		<br />
		<h4> Yelp clone integrating Google API's and User interface </h4>
		<br />
	</div>
	<br />
	<br />
	<div class="feature4 col-12 col-sm">
		<h3><br /><a class='bigbutton' href="https://flixxter-katrina-klawiter.herokuapp.com/">FLIXXTER</a></h3>
		<br />
		<h4> A video streaming platform with Stripe Payment and Amason AWS services </h4>
		<br />
	</div>
</div>
<br />
<div class="row feature2 text-center">
	<div class="feature4 col-12 col-sm">
		<h3><br /><a class='bigbutton' href="#">GRAMMABLE</a></h3>
		<br />
		<h4> An Instagram clone </h4>
		<br />
	</div>
	<br />
	<br />
	<div class="feature4 col-12 col-sm">
		<h3><br /><a class='bigbutton' href="https://splurty-katrina-klawiter.herokuapp.com/">SPLURTY</a></h3>
		<br />
		<h4> A quote generator </h4>
		<br />
	</div>
</div>
<br />
<div class="row feature2 text-center">
	<div class="feature4 col-12 col-sm">
		<h3><br /><a class='bigbutton' href="https://todoster-katrina-klawiter.herokuapp.com/">TODOSTER</a></h3>
			<%= image_tag 'todo.jpg', class: 'd-block img-fluid' %>
		<h4> Interactive to do list </h4>
		<br />
	</div>
	<br />
	<br />
	<div class="feature4 col-12 col-sm">
		<h3><br /><a class='bigbutton' href="https://quizster2-katrina-klawiter.herokuapp.com/">SONGSTER</a></h3>
		<br />
		<h4> A song generator </h4>
		<br />
	</div>
</div>





