
<div class='col-12'>
	<div class="coding">
		<h1> WEB DEVELOPMENT </h1>
		<div class="column col-12 col-sm">
			<div class="feature col-12 col-sm">
				<h3>
			   		<%= link_to 'EDUCATION', educationpages_path %>
			   	</h3>
			</div>
			<br />
			<div class="feature col-12 col-sm">
				<h2>
			   		
			   	</h2>
			</div>
			<br />
			<div class="feature col-12 col-sm">
				<h2>
			   		
			   	</h2>
			</div>
			<br />
			<div class="feature col-12 col-sm">
				<h2>
			   		
			   	</h2>
			</div>
		</div>
	</div>
</div>




