<hr>
<h2> <%= link_to 'PERFORMANCE', theatrepages_path %> </h2>
<h3> News </h3>
<hr>
<br />
<div class="newsfeature col-12 col-sm">
	<br />
	<iframe width="560" height="315" src="https://www.youtube.com/embed/ZfQwqiDbl84" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<br />
</div>
<br />
<hr width="20%">
<br />
<div class="newsfeature col-12 col-sm">
	<br />
	<blockquote class="embedly-card"><h4><a href="https://www.aspentimes.com/entertainment/aspen-community-theatre-bringing-a-timely-9-to-5-to-the-stage/">Aspen Community Theatre bringing a timely '9 to 5' to the stage</a></h4><p>Here's a story of a lascivious boss harassing the women who work for him and women fed up about the abuse, who revolt to empower themselves and change the system that enables him. No, it's not another post-Weinstein news report about another powerful man and his #MeToo comeuppance.</p></blockquote>
	<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
	<br />
</div>
<br />
<hr width="20%">
<br />
<div class="newsfeature col-12 col-sm">
	<br />
	<blockquote class="embedly-card"><h4><a href="https://www.aspentimes.com/entertainment/aspen-community-theatre-stages-a-big-river-for-our-tumultuous-times/">Aspen Community Theatre stages a 'Big River' for our tumultuous times</a></h4><p>It's a classic American story with an irresistible old-timey score, but "Big River" is not an escapist piece of entertainment. And that's the point of Aspen Community Theatre staging this musical adaptation of Mark Twain's "The Adventures of Huckleberry Finn" this fall, according to director Marisa Post: It's important.</p></blockquote>
	<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
	<br />
</div>
<br />
<hr width="20%">
<br />
<div class="newsfeature col-12 col-sm">
	<br />
	<iframe width="560" height="315" src="https://www.youtube.com/embed/8u73DQm1mTg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<br />
</div>