<h1> EDUCATION </h1>

<br />
<br />
<h3>University of Denver</h3>
<h4> 24 Week Intensive Coding Bootcamp </h4>
<body> ... </body>
<br />
<br />
<h3>King's College-London</h3>
<h4> Masters of Science in Sustainable Cities</h4>
<body> ... </body>
<br />
<br />
<h3>Texas Christian University</h3>
<h4> Bachelor's of Science in Environmental Science </h4>
<body> ... </body>

