<hr>
<h2> <%= link_to 'CODING', codingpages_path %> </h2>
<h3> EDUCATION </h3>
<hr>
<br />
<div class="educationfeature col-12 col-sm">
	<h3>University of Denver</h3>
	<h4> 24 Week Intensive Coding Bootcamp </h4>
	<body> An intensive 24-week long program dedicated to designing and building web
 		applications. Skills learned consisted of HTML5, CSS3, Bootstrap, Ruby, Ruby on
 		Rails, Postgresql, JavaScript, JQuery, and ReactJS. </body>
</div>
<br />
<div class="educationfeature col-12 col-sm">
	<h3>King's College-London</h3>
	<h4> Masters of Science in Sustainable Cities</h4>
	<body> Dissertation Topic: Analysing the Impacts of the Wildland-Urban Interface on Wildfire Ignition Risks in the South Coast Watershed (California, USA) </body>
</div>
<br />
<div class="educationfeature col-12 col-sm">
	<h3>Texas Christian University</h3>
	<h4> Bachelor's of Science in Environmental Science </h4>
	<body> International Exchange Study Abroad in Freiburg, Germany, 2014-2015</body>
</div>
