@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400&display=swap');

h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	color: black;
	letter-spacing: 10px;
	font-size: 4vw;
	text-align: center;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	color: black;
	letter-spacing: 6px;
	font-size: 2.5vw;
	text-align: center;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: black;
  letter-spacing: 3px;
  font-size: 1.5vw;
  text-align: center;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: black;
  letter-spacing: 1.5px;
  font-size: 1vw;
  text-align: center;
}

a {
  color: inherit;
  font-family: 'Raleway', sans-serif;
}


body {
  background: #ffffff;
  font-family: 'Raleway', sans-serif;
}

.button {
  background-color: #cc0000;
  padding: 16px 32px;
  text-align: center;
  font-size: 2.5vw;
  margin: 4px 2px;
  opacity: 0.5;
  transition: 0.3s;
  display: inline-block;
  cursor: pointer;
  width: contain;
}

.button:hover {opacity: .8}

.hero {
  background: image_url('hero.jpg') no-repeat center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 650px;
  width: auto;
}

.blog {
  background: image_url('blog.jpg') no-repeat center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.feature {
  width: 50%;
  height: contain;
  float: right;
}

.featurephoto {
  width: 50%;
  height: auto;
  float: left;
}

.feature2 {
  width: contain;
  height: 25%;
}

.feature3 {
  width: auto;
  height: auto;
  overflow: auto;
  float: center;
  margin-left: 5%;
}

.feature4 {
  width: auto;
  height: auto;
  border: 2px solid black;
  border-radius: 5px;
  overflow: auto;
  float: center;
  margin-left: 5%;
}


a:focus, a:hover {
  color: black;
  text-decoration: underline;
}

.newsfeature {
  width: 60%;
  height: 50%;
  overflow: auto;
  float: center;
  margin-left: 20%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.educationfeature {
  width: 90%;
  height: 40%;
  border: 2px solid black;
  border-radius: 5px;
  overflow: auto;
  float: center;
  margin-left: 5%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.webdevelopmentfeature {
  width: 98%;
  height: 50%;
  border: 2px solid black;
  border-radius: 5px;
  overflow: auto;
  float: center;
  margin-left: 1%;
  color: black;
  font-family: 'Raleway', sans-serif;
}

hr {
  border-top: 1px solid black;
}

@media (max-width: 800px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3,a {
    font-size: 1.3rem;
  }

}

body {
  font-family: Arial;
  padding: 20px;
}


/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn { 
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn, .lefthero, .rightmenu { 
    width: 100%;
    padding: 0;
  }
}

.thumbnail {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}


.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 1;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  height: auto;
  width: 53%;
  margin: auto; 
}

.carousel-item.active, 
.carousel-item-next, 
.carousel-item-prev {
  display: block;
}

.carousel-control-prev, .carousel-control-next {
  background-color: grey;
  border: 2px solid black;
  border-radius: 5px;
  height: 3vw;
  width: 3vw;
}

link {
  display: none;
}
