@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400&display=swap');

h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	color: black;
	letter-spacing: 10px;
	font-size: 4rem;
	text-align: center;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	color: black;
	letter-spacing: 10px;
	font-size: 60px;
	text-align: center;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: black;
  letter-spacing: 10px;
  font-size: 40px;
  text-align: center;
}

a {
  color: inherit;
}


body {
  background: white;
}

.bigbutton {
  font-size: 40px;
}

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 650px;
}

.feature {
  width: 33%;
  height: 25%;
  border: 2px solid white;
  border-radius: 5px;
  background: white;
  opacity: 30%;
}

.feature2 {
  width: 98%;
  height: 25%;
  margin-left: 1%;
}

.feature3 {
  width: 20%;
  height: 25%;
  border: 2px solid black;
  border-radius: 5px;
  margin: 2%;
  background-color: #E8EBEB;
}


a:focus, a:hover {
    color: black;
    text-decoration: underline;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

.educationfeature {
  width: 90%;
  height: 33%;
  border: 2px solid black;
  border-radius: 5px;
  overflow: auto;
  float: center;
  margin-left: 5%;
  text-align: center;
  background-color: #E8EBEB;
}

.webdevelopmentfeature {
  width: 98%;
  height: 50%;
  border: 2px solid black;
  border-radius: 5px;
  overflow: auto;
  float: center;
  margin-left: 1%;
  background-color: #E8EBEB;
  color: black;
}

hr {
  border-top: 1px solid black;
}

@media (max-width: 800px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3,a {
    font-size: 1.3rem;
  }

}

body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}


/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn { 
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn { 
    width: 100%;
    padding: 0;
  }
}
