@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400&display=swap');

h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	color: black;
	letter-spacing: 10px;
	font-size: 4rem;
	text-align: center;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	color: black;
	letter-spacing: 10px;
	font-size: 60px;
	text-align: center;
}

h3, a {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: black;
  letter-spacing: 10px;
  font-size: 40px;
  text-align: center;
}


body {
  background: white;
}

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 650px;
}

.feature {
  width: 33%;
  height: 25%;
  border: 2px solid white;
  border-radius: 5px;
}

.feature2 {
  width: 98%;
  height: 25%;
  margin-left: 1%;
}

.feature3 {
  width: 20%;
  height: 25%;
  border: 2px solid black;
  border-radius: 5px;
  margin: 2%;
}


a:focus, a:hover {
    color: black;
    text-decoration: underline;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

.educationfeature {
  width: 90%;
  height: 33%;
  border: 2px solid black;
  border-radius: 5px;
  overflow: auto;
  float: center;
  margin-left: 5%;
  text-align: center;
  background-color: #E8EBEB;
}

.webdevelopmentfeature {
  width: 98%;
  height: 50%;
  border: 2px solid black;
  border-radius: 5px;
  overflow: auto;
  float: center;
  margin-left: 1%;
  background-color: #E8EBEB;
  color: black;
}

hr {
  border-top: 1px solid black;
}

@media (max-width: 800px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3,a {
    font-size: 1.3rem;
  }

}
