<hr>
<h1> Vocal Training </h1>
<br />
<div class="row feature2 text-center">
	<div class="educationfeature col-12 col-sm">
		<h3> Kathy Pelowski </h3>
		<h4> Present </h4>
		<h5> Aspen, CO</h5>
		<body> Classical and Broadway </body>
	</div>
	<br />
	<div class="educationfeature col-12 col-sm">
		<h3> Amy Prickett </h3>
		<h4> 2016-17 </h4>
		<h5> Texas Christian University </h5>
		<body> Classical </body>
	</div>
</div>
<br />

<div class="row feature2 text-center">
	<div class="educationfeature col-12 col-sm">
		<h3> Anne McGuire </h3>
		<h4> 2014-15 </h4>
		<h5> Freiburg, Germany </h5>
		<body> Classical </body>
	</div>
	<br />
	<div class="educationfeature col-12 col-sm">
		<h3> Jennifer Carr </h3>
		<h4> 2013-16 </h4>
		<h5> Texas Christian University  </h5>
		<body> Classical and Broadway </body>
	</div>
</div>
<br />

<div class="row feature2 text-center">
	<div class="educationfeature col-12 col-sm">
		<h3> Dory Light </h3>
		<h4> 2012-13 </h4>
		<h5> Aspen, CO </h5>
		<body> Classical </body>
	</div>
	<br />
	<div class="educationfeature col-12 col-sm">
		<h3> High School Acapella </h3>
		<h4> 2010-13 </h4>
		<h5> Aspen, CO </h5>
		<body> Contemporary </body>
	</div>
</div>
<br />

<div class="row feature2 text-center">
	<div class="educationfeature col-12 col-sm">
		<h3> Sarah Stevens </h3>
		<h4> 2010-12 </h4>
		<h5> Aspen, CO </h5>
		<body> Contemporary </body>
	</div>
	<br />
	<div class="educationfeature col-12 col-sm">
		<h3> Kathy Pelowski </h3>
		<h4> 2008-2010 </h4>
		<h5> Aspen, CO </h5>
		<body> Broadway </body>
	</div>
</div>
<br />