<hr>
<h1> EMPLOYMENT HISTORY </h1>
<br />
<div class="educationfeature col-12 col-sm">
	<h3> House Manager </h3>
	<h4> Aspen Music Festival and School </h4>
	<h5> June 2019 - Present </h5>
	<body> Manage the Benedict Music Tent and Harris Hall during concerts/events. Help facilitate smooth events, manage ushers, admissions, and other assorted tasks. </body>
</div>
<br />
<div class="educationfeature col-12 col-sm">
	<h3> Server/Hostess/Farmshop Helper </h3>
	<h4> Meat and Cheese Aspen </h4>
	<h5> May - August 2017 and August 2018 - Present </h5>
	<body> Maintain excellent customer service to sell food and market products. </body>
</div>
<br />
<div class="educationfeature col-12 col-sm">
	<h3> Director </h3>
	<h4> Aspen School District</h4>
	<h5> October 2018 - Present </h5>
	<body> Direct children to produce school productions, show promotion, and graphic design. </body>
</div>
<br />
<div class="educationfeature col-12 col-sm">
	<h3> Teaching Artist/ Stage Manager </h3>
	<h4> Theatre Aspen </h4>
	<h5> January 2019 - Present </h5>
	<body> Stage Managing for youth productions while maintaining theatre etiquette/safety. </body>
</div>
<br />
<div class="educationfeature col-12 col-sm">
	<h3> Office Assistant </h3>
	<h4> Bandana Kids </h4>
	<h5> December 2019-Present </h5>
	<body> Coordination of inventory, purchase orders, IT inquiries, social media. </body>
</div>
<br />
<div class="educationfeature col-12 col-sm">
	<h3> Social Media Intern </h3>
	<h4> Rejuce </h4>
	<h5> December 2017 - May 2018 </h5>
	<body> Manage and plan social media posts for Instagram/Twitter/Facebook/Website. </body>
</div>
<br />
<div class="educationfeature col-12 col-sm">
	<h3> Sales Person </h3>
	<h4> Leaf People- Organic Skincare </h4>
	<h5> May 2017 - March 2018 </h5>
	<body> Manage online marketing and shop inventory and promotion of products. </body>
</div>
<br />